* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(127, 236, 255);
}

h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}

button {
  border-radius: 50px;
  padding: 0.5rem 0.5rem;


}

.hide {
  display: none;

}