* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

button {
  border-radius: 50px;
  padding: 0.5rem 0.5rem;

}

.hide {
  padding-top: 1rem;
  padding-bottom: 1rem;


}